//UTILLITIES
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/reset";
@import "./utils/base";
//MAIN
@import "./main/header";
@import "./main/main";
@import "./main/footer";
