.how-to {
  background: #333;
  padding: 4.4rem 0px 8rem 0px;
  .container {
    padding: 0px 5.6rem;
  }
  .decoration {
    position: absolute;
    top: 4%;
    left: 11%;
    z-index: 1;
  }
  &__items {
    padding-top: 8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }
  &__item {
    text-align: center;
    background: #333;
    z-index: 2;
    p {
      font-size: 3.6rem;
      color: #e8e8e8;
      font-family: $aleo;
      margin-top: 19px;
    }
  }
}
